ALLOWED_ORIGINS=http://localhost:5173
AZURE_CLIENT_ID="YOUR_AZURE_CLIENT_ID"
AZURE_CLIENT_SECRET="YOUR_AZURE_CLIENT_SECRET"
AZURE_TENANT_ID="YOUR_AZURE_TENANT_ID"
AZURE_BLOB_URL=https://eyesist.blob.core.windows.net
AZURE_STORAGE_ACCOUNT_NAME=eyesist
CLEARML_WEB_HOST=https://app.clear.ml/
CLEARML_API_HOST=https://api.clear.ml
CLEARML_FILES_HOST=https://files.clear.ml
CLEARML_API_ACCESS_KEY="YOUR_CLEARML_API_ACCESS_KEY"
CLEARML_API_SECRET_KEY="YOUR_CLEARML_API_SECRET_KEY"